/* здесь используйте глобальные переменные */
$color-main: #111111;
$color-secondary: #222222;
$color-muted: #444444;
$color-green: #68b738;
$color-grey:#f2f2f2;


$primary-font: "Oswald", sans-serif;
$font-secondary: "Lato", sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;
