.example {
  background-color: #eaeaea;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-left: 20px;
}

.example__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $color-muted;
  margin-left: 20px;
}

.example__list {
  display: flex;
  margin: 0;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.example__term {
  font-size: 24px;
  line-height: 24px;
}

.example__definition {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  color: $color-muted;
}

.example__expenses {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .example__title {
    margin-left: 30px;
  }


  .example__text {
    margin-left: 30px;
  }

  .example__list {
    margin-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .example__title {
    margin-left: 110px;
  }


  .example__text {
    margin-left: 110px;
  }

  .example__list {
    margin-left: 110px;
  }
}
