.extra-card__item-title {
  font-size: 16px;
  line-height: 16px;
  color: $special_dark-grey-2;
  text-transform: uppercase;
}

.extra-card__info-title {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
}

.extra-card__info-item {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
}
