.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin: 0 auto;
}

.form__input {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: $color-muted;
  text-transform: uppercase;
  width: 100%;
  height: 56px;
  padding: 0 20px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
}

.form__button {
  height: 56px;
  padding: 10px;
}

@media (min-width: $tablet-width) {
  .form {
    flex-direction: row;
    justify-content: center;
    gap: 0;
    max-width: 632px;
  }

  .form__input {
    width: 376px;
    border-right: none;
  }

  .form__button {
    width: 256px;
    flex-shrink: 0;
  }
}
