.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../../images/intro-background-cat@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 302px;
  background-position: top center;
  padding: 27px 20px 20px;
}

.intro__container--text {
  display: contents;
}


.intro__title {
  order: 1;
  margin: 0 0 25px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}


.intro__text {
  order: 2;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.intro picture {
  order: 3;
  display: block;
  margin-top: 29px;
  margin-bottom: 3px;
}

.intro__link {
  order: 4;
}

@media (min-width: $tablet-width) {
  .intro {
    display: block;
    background: #ffffff;
    padding: 30px 30px 0;
    text-align: left;
    box-sizing: border-box;
  }

  .intro__container--text {
    display: block;
    position: relative;
    z-index: 2;
    margin-left: 87px;
  }

  .intro__title,
  .intro__text {
    order: initial;
  }

  .intro__link {
    width: 242px;
    height: 54px;
  }

  .intro__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 40px;
  }

  .intro__text {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 50px;
  }

  .intro picture {
    display: block;
    margin: -80px auto 0;
    text-align: center;
    order: initial;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
    min-height: 694px;
    margin-top: -89px;
    padding: 89px 0 0;
    background: transparent;
  }

  .intro::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../../images/intro-background-cat@1x.jpg");
    background-repeat: no-repeat;
    background-position: 20% top;
    background-size: cover;
    z-index: -1;
  }

  .intro__container--text {
    margin-left: 190px;
    text-align: left;
  }

  .intro__title {
    margin-bottom: 40px;
  }

  .intro__text {
    margin-bottom: 52px;
  }

  .intro picture {
    grid-column: 2 / 3;
    justify-self: start;
    margin-left: -160px;
  }
}
