.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 40px 20px;
  box-sizing: border-box;
}

.main-footer__list {
  display: flex;
}

@media (min-width: $tablet-width) {
  .main-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 30px;
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    max-width: 1440px;
    padding: 60px 110px;
  }
}
