.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programs__item {
  position: relative;
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-color: $color-green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 24px;
    left: 20px;
  }
}

.programs__item:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .programs__list {
    margin-left: 30px;
  }

  .programs__item {
    margin-left: auto;
    margin-right: auto;
    width: 708px;
  }

  .programs__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .programs__list {
    display: flex;
    margin-left: 110px;
  }

  .programs__item {
    box-sizing: border-box;
    margin: 0;
    max-width: 570px;
  }

  .programs__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 80px;
  }
}


.programs__item--slim::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/stack.svg#cat-slim");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px auto;
  top: 21px;
  left: 27px;
  width: 36px;
  height: 50px;
}

.programs__item--pro::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/stack.svg#cat-pro");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 67px auto;
  top: 35px;
  left: 12px;
  width: 67px;
  height: 28px;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-left: 70px;
}


.programs__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $color-muted;
}

.programs__link {
  line-height: 16px;
  background-color: transparent;
  color: #000000;
}
