.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programs__item {
  position: relative;
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-color: $color-green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 24px;
    left: 20px;
  }
}

.programs__item:not(:last-child) {
  margin-bottom: 20px;
}


.programs__item--slim::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/stack.svg#cat-slim");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px auto;
  top: 21px;
  left: 27px;
  width: 36px;
  height: 50px;
}

.programs__item--pro::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/stack.svg#cat-pro");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 67px auto;
  top: 35px;
  left: 12px;
  width: 67px;
  height: 28px;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-left: 70px;
}


.programs__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $color-muted;
}

.programs__link {
  line-height: 16px;
  background-color: transparent;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .programs__list {
    margin: 0 auto;
    padding: 0;
    max-width: 708px;
    list-style: none;
  }

  .programs__item {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 372px;
    padding: 77px 52px 57px;
    margin: 0 0 30px;

    &::before {
      width: 200px;
      height: 200px;
      top: 50%;
      transform: translateY(-50%);
      left: auto;
      right: 62px;
    }
  }

  .programs__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 24px;
  }

  .programs__text {
    font-size: 16px;
    line-height: 24px;
    max-width: 340px;
    margin: 0 0 52px;
  }

  .programs__link {
    font-size: 20px;
  }

  .programs__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .programs__item--slim::after {
    left: auto;
    right: 92px;
    top: 50%;
    transform: translateY(-50%);
    width: 140px;
    height: 194px;
    background-size: contain;
  }

  .programs__item--pro::after {
    left: auto;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    width: 268px;
    height: 112px;
    background-size: contain;
  }
}

@media (min-width: $desktop-width) {
  .programs__list {
    display: flex;
    margin-left: 110px;
  }

  .programs__item {
    box-sizing: border-box;
    margin: 0;
    max-width: 570px;
    height: 374px;
  }

  .programs__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 80px;
  }
}
