.promo {
  padding: 0 20px 40px;
}

.promo__title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $color-secondary;
  margin: 0 0 32px;

  &::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background-color: $color-green;
  }
}

.promo__description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: $color-secondary;
  margin: 0 auto 24px;
  max-width: 280px;
}

@media (min-width: $tablet-width) {
  .promo {
    width: 708px;
    margin: 0 auto 80px;
    padding: 0;
  }

  .promo__title {
    font-size: 36px;
    line-height: 36px;
    gap: 35px;
    margin-bottom: 60px;
  }

  .promo__description {
    font-size: 20px;
    line-height: 24px;
    max-width: 632px;
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 1220px;
    margin: 0 auto 86px;
    padding: 0;
  }

  .promo__title {
    margin-bottom: 60px;
  }

  .promo__description {
    max-width: 100%;
    margin-bottom: 24px;
  }
}
